# DS_store files
.DS_Store
#VS-Code configuration
/.vscode
# venv
/venv/particles_cdssm
# PyCache
*.pyc
#ipynb checkpoints
*.ipynb_checkpoints
/dist/
# Plots
*.png
*.pdf

# Results of tests under development
/tests/smoothing_mcmc/results
/tests/smoothing/results

# Results of the experiments
/paper/linear_sde_filtering/results
/paper/linear_sde_smoothing/results
/paper/fhn_smoothing/results

# Deprecated experiment files
/paper/linear_sde_filtering/deprecated
/paper/linear_sde_smoothing/deprecated
/paper/fhn_smoothing/deprecated
/paper/fhn_smoothing_bias/deprecated

#  # Files in development not included in the first release:

# These are all commited on the `dev` branch. When merging with master, 
# some may be omitted:

# Tests
# /tests/smoothing_mcmc
# /tests/smoothing
# /tests/running
# /tests/profiling
# /tests/filtering/filtering_test_results.ipynb
# /tests/linear_sdes/test_iou_4_dims_correlated_noise.py
# /tests/linear_sdes/filtering_test_results.ipynb

# # dev tutorials
# /docs/notebooks/integrated_sde_tutorial.ipynb
# /docs/notebooks/multivariate_sde_tutorial.ipynb

# # Not included in first release
# /particles_cdssm/deprecated

# # Particle MCMC related files (to be added in next release)
# /particles_cdssm/mcmc.py

# # Tutorial notebooks
/docs/notebooks/